
  <div class="home">
    <h2>Welcome To,<br>
    <span id="heading">COURSEE</span></h2>
       <div class="flex">
   
  <p>Explore your career with COURSEE. We provide you 100+ courses that will change your career forever.
    Our experienced professors will available at any time. Choose your course and <span><a routerLink="/courses" id="enroll" > ENROLL NOW</a></span>
  </p>
          <img src="https://learning.tcsionhub.in/per/g01/pub/1016/iDH/instance/1/ProductType/149/03Courses(1642674364221).jpg" alt=""></div>
  </div>
